name: Deploy R packages

on:
  push:
    branches:
      - main
    tags:
      - "v*"
    paths-ignore:
      - 'README.md'
      - 'LICENSE.txt'

permissions: 
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.3'
          use-public-rspm: true
      
      - uses: r-lib/actions/setup-renv@v2
      
      - uses: r-lib/actions/setup-tinytex@v2

      - name: check package
        run: |
          R CMD check .
      
      - name: get version
        run: |
          export VERSION=$(git describe --tags --abbrev=0 | sed 's/^v//g')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo $VERSION

      - name: update DESCRIPTION (version and date)
        run: |
          sed -i "s/Version: [^\"]*/Version: ${VERSION}/g" "DESCRIPTION"
          sed -i "s/Date: [^\"]*/Date: `date +'%Y-%m-%d'`/g" "DESCRIPTION"
      
      - name: build package and manual
        run: |
          R CMD Rd2pdf --force --no-preview -o bspcov-manual.pdf .
          R CMD build .
      
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            bspcov-manual.pdf
            bspcov_*.tar.gz
            bspcov_*.zip